[packages]
flask = ">=1.0"
Flask-RESTful = ">=0.3"
mongoengine = ">=0.16"
auth0-python = ">=3.4"
python-dotenv = ">=0.10"
requests = ">=2.20"
python-jose = ">=3.0"
flask-auth0 = {editable = true, git = "ssh://git@github.com/hamologist/flask-auth0.git"}
env-process = {editable = true, git = "ssh://git@github.com/hamologist/env-process.git"}

[dev-packages]
pytest = ">=4.0"

[requires]
python_version = "3.7"
